Source: sjconf
Priority: optional
Section: admin
Maintainer: Philippe BRIDANT <philippe.bridant@smartjog.com>
Uploaders: Jean-Philippe Garcia Ballester <jeanphilippe.garciaballester@smartjog.com>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.38), python-central, python-all
Standards-Version: 3.7.3
XS-Python-Version: all

Package: sjconf1
Conflicts: sjconf
Replaces: sjconf
Provides: sjconf
Architecture: all
Depends: ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Configuration wrapper
 sjconf is a configuration wrapper that handles global and server-specific
 configuration, deployment and service restart.
 It can be accessed through a command-line utility or through a Python module.
