Source: sjconf
Priority: optional
Section: admin
Maintainer: Aurélien Dunand <aurelien.dunand@smartjog.com>
Uploaders: Nicolas Godinho <nicolas.godinho@smartjog.com>,
           Anaël Beutot <anael.beutot@smartjog.com>
Build-Depends: cdbs (>= 0.4.89),
               debhelper (>= 8),
               python-central (>= 0.6),
               txt2tags,
               python-nose,
               python-sjutils (>= 1.24.0)
Standards-Version: 3.9.2
XS-Python-Version: >= 2.6

Package: sjconf1
Conflicts: sjconf
Replaces: sjconf
Provides: sjconf
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-sjutils (>= 1.24.0)
XB-Python-Version: ${python:Versions}
Description: Configuration wrapper
 sjconf is a configuration wrapper that handles global and server-specific
 configuration, deployment and service restart.
 It can be accessed through a command-line utility or through a Python module.

Package: sjconf1-dev
Architecture: all
Depends: ${misc:Depends}, sjconf1 (= ${binary:Version})
Breaks: sjconf1 (<< 1.9.4~dev-1)
Description: Development files for sjconf
 provides autotools and automake files for packages using sjconf to use.
