#!/usr/bin/make -f
# -*- makefile -*-
#
# no check for this software
DEB_MAKE_CHECK_TARGET =
DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(CURDIR)/debian/tmp/ PREFIX=/usr

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

install/sjconf1::
	install -D -m 644 debian/sjconf1.lintian-overrides debian/sjconf1/usr/share/lintian/overrides/sjconf1
